
$bg-color: red;
$hm-color: #D98036;


// Variable Overrides 
// Variable Overrides 

$enable-rounded:   false;

$theme-colors: (
  // "primary": #d95700
  "primary": $hm-color,
  "secondary": #F3F4F1 
);

$body-bg: #ededed;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";


body {
  background: white;
}

.jumbotron {
  background-color: white;
  // position: relative;
}
.jumbotron-video{
  position: relative;
    overflow: hidden;
    // min-height: 1000px;
    height: 100vh;

  /* Tried setting the height. Didnt work either */
  /* height: 200px; */
}

.welcome-container {
  position: relative;
  // color: #ffffff;
  z-index: 2;
}

.arrow {
  position: absolute;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
  // margin-top: 50%
  // margin-top: calc(100vh - 220)
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}


#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.bottom{
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
